<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/details.css" />
    <script
      src="https://kit.fontawesome.com/fd87cafac2.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div id="con">
      <div class="logo">
        <img src="../img/brl_cropped_logo.png" alt="" />
      </div>
      <div class="containerx">
        <div class="box1">
          <div class="box2">
            <div class="button">
              <button class="btnx btn1">
                <a href="/google"
                  ><img src="../img/google_logo.png" alt="" /> SignUp
                  <i class="fa-regular fa-circle-check"></i
                ></a>
              </button>
              <button class="btnx active" id="details" onclick="details()">
                Fill Details
              </button>

              <button class="btnx" id="review" onclick="review()">
                Review
              </button>
              <button class="btnx" id="payment" onclick="pay()">
                Make Payment
              </button>
            </div>
            <div class="form">
              <form
                action="/fill_details"
                method="post"
                id="form_in"
                class="mx-1 mx-md-4"
              >
                <label for="form3Example1c" class="form-label"
                  >Team Name :</label
                >
                <input
                  type="text"
                  name="team_name"
                  placeholder="Team Name"
                  id="form3Example1c"
                  class="form-control"
                  required
                />
                <br />
                <label for="form3Example1c" class="form-label">Leader :</label>
                <input
                  type="text"
                  name="lname"
                  placeholder="Name"
                  id="form3Example1c"
                  value="<%-lname%>"
                  class="form-control"
                  required
                />
                <label for="form3Example1c" class="form-label"></label>
                <input
                  type="email"
                  name="lemail"
                  value="<%-lemail%>"
                  placeholder="College Email"
                  id="form3Example1c"
                  class="form-control"
                  required
                />
                <label for="form3Example1c" class="form-label"></label>
                <input
                  type="number"
                  name="lstud_no"
                  placeholder="Student Number"
                  id="form3Example1c"
                  class="form-control"
                  required
                />
                <br />
                <label for="form3Example1c" class="form-label"
                  >Teammate :</label
                >
                <input
                  type="text"
                  name="tname"
                  placeholder="Name"
                  id="form3Example1c"
                  class="form-control"
                />
                <label for="form3Example1c" class="form-label"></label>
                <input
                  type="email"
                  name="temail"
                  placeholder="College Email"
                  id="form3Example1c"
                  class="form-control"
                />
                <label for="form3Example1c" class="form-label"></label>
                <input
                  type="number"
                  name="tstud_no"
                  placeholder="Student Number"
                  id="form3Example1c"
                  class="form-control"
                />
                <br />
                <button type="submit" id="nextbtn" class="submit_btn">
                  Next
                </button>
              </form>
              <% if(message != "false"){ %>
              <p style="color: red; font-size: larger"><%- message %></p>
              <% } %>
            </div>
          </div>
        </div>
      </div>
      <div class="right"></div>
    </div>
  </body>
</html>
